body
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center

  width: 100vw
  height: 100vh
  margin: 0

//  Basic mechanics
//  Hide all paragraphs by default
//  Show them when they receive the class 'on'
//  Hide them when they receive the class 'off'
//  Feel free to adjust the defaults to your needs.

#closed-captions
  // pointer-events: none
  height: 100px

#closed-captions p
  position: absolute

  transition: 0.05s

  opacity: 0

#closed-captions .on
  opacity: 1

#closed-captions .off
  transition: 0.2s

  opacity: 0

.voice1
  font-weight: bold

div#closed-captions
  position: absolute
  z-index: 56

#closed-captions p
  color: #fff

#closed-captions .voice1
  text-align: center
  text-transform: uppercase

  color: #fff

#closed-captions
  display: flex
  justify-content: center

  width: 100vw

#closed-captions
  p.voice2.p7
    transition: 2s all ease-in-out
    transform: translateX(180px)

  p.voice2.p7.on
    transform: translateX(240px)

  .standard-voice
    text-transform: initial !important

    font-size: 16px !important

  p.voice3.p6
    transition: 1s transform
    transform: translate(-141px, -145px)
    text-transform: uppercase

    &.on
      transform: translate(-161px, -135px)

  .first-test
    p.voice1
      max-width: 550px

      font-size: 20px

  .second-test
    font-style: italic

  .one-liner
    position: fixed
    top: 50%
    right: 0
    left: 0

    max-width: initial !important
    max-width: 100%
    margin: 0 auto

    transform: translateY(-50%)
    text-align: center
    vertical-align: middle
    word-break: break-all
    pointer-events: none

    color: rgba(255, 0, 0, 1)

    font-size: 320px !important
    font-size: 24vw !important
    line-height: 0.7

  p.voice2.p42.on
    transform: translateY(10px) scale(.9)

  p.voice2.p43.on
    transform: translateY(20px) scale(.8)

.first-test
  display: flex
  align-items: center
  justify-content: center

  width: 100vw
  height: 100px

  pointer-events: none

p.voice1.standard-voice.p0
  transform: translateX(150px)

p.voice2.p3.on, p.voice2.p4.on, p.voice2.p5.on, p.voice2.p7.on
  font-style: italic

// https://css-tricks.com/snippets/css/typewriter-effect/
.p0.on,
.p44.on
.p45.on
.p46.on
  overflow: hidden

  margin: 0 auto

  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite
  white-space: nowrap
  letter-spacing: .15em

  border-right: .15em solid cyan

@keyframes typing
  from
    width: 0
  to
    width: 100%

@keyframes blink-caret
  from, to
    border-color: transparent 50%
    border-color: cyan
